body
	background-color: #f5f8f9
	font-family: 'Open Sans', sans-serif

.container
	max-width: 1169px
	//padding: 19px
	margin-left: auto
	margin-right: auto

.clearfix::after
	content: ""
	clear: both
	display: table

.name
	font-weight: 600
	color: #3f454a
	font-size: 16px
