.header
	margin-top: 71px
	@media (max-width: 825px)
		margin-top: 0
	.container
		padding: 23px 21px 0 21px
		background-color: #ffffff
		@media (max-width: 825px)
			background-color: #f5f8f9
			padding: 25px 30px 5px 20px
	&--btn-wrapper
		display: flex
		justify-content: flex-end
	&--btn
		border-radius: 3px
		border: 1px solid #007ee5
		background-color: #ffffff
		padding: 6px 21px
		color: #007ee5
		font-size: 12px
		text-transform: uppercase
		font-weight: 700
		text-decoration: none
		display: inline-block
		@media (max-width: 825px)
			border: none
			font-size: 12px
			background-color: #f5f8f9
			padding: 0
	&--input-file
		@media (max-width: 825px)
			display: none
		input
			display: none
		a
			color: #727e88
			text-decoration: none
			display: flex
			align-items: center
			border: 1px solid #D0DCE7
			border-radius: 3px
			margin-left: 50%
			transform: translateX(-50%)
			margin-top: 22px
			padding: 11px 14px
			width: 222px
			height: 45px
			svg
				height: 20px
				width: 20px
				fill: #D0DCE7
				margin-right: 20px
	&--main-content
		display: flex
		justify-content: space-between
	&--left-part
		display: flex
		@media (max-width: 825px)
			flex-direction: column
			width: 100%
	&--right-part
		padding-top: 20px
		@media (max-width: 825px)
			display: none
	&--image
		height: 171px
		width: 171px
		overflow: hidden
		background-image: url('../../img/profile_image.jpg')
		background-position: top
		margin-top: -12px
		margin-right: 29px
		@media (max-width: 825px)
			margin-right: 0
			align-self: center
			margin-top: 33px
			height: 127px
			width: 128px
	&--profile-info
		margin-top: 21px
		@media (max-width: 825px)
			margin-top: 15px
		p, a
			display: flex
			align-items: center
			font-size: 14px
			text-decoration: none
			color: #3f454a
		svg
			height: 20px
			margin-right: 9px
			path
				fill: #D0DCE7
		.name
			font-size: 20px
			margin-bottom: 9px
			@media (max-width: 825px)
				margin-bottom: 5px
		.address
			margin-bottom: 10px
			@media (max-width: 825px)
				font-size: 12px
			svg
				width: 15px
		.phone
			svg
				width: 18px
		.phone-mobile
			display: none
			@media (max-width: 825px)
				display: block
				margin-bottom: 10px
				font-size: 12px
			svg
				margin-right: 2px
	&--social-mobile
		display: none
		margin-bottom: 20px
		@media (max-width: 825px)
			display: block
		.header--social-reviews-stars
			margin-left: -5px
		.header--social-reviews-text
			color: #3f454a
			font-size: 14px
			margin-left: 8px
			span
				font-size: 13px
	&--social-reviews
		display: flex
		align-items: center
	&--social-reviews-stars
		display: flex
		align-items: center
		@media (max-width: 825px)
			flex-direction: column
			align-items: flex-start
		svg
			height: 26px
			width: 26px
			fill: #D0DCE7
			@media (max-width: 825px)
				height: 20px
				margin-right: 0
			path
				@media (max-width: 825px)
					fill: #007ee5
	&--social-reviews-text
		font-size: 14px
		color: #D0DCE7
		margin-left: 25px
		@media (max-width: 825px)
			margin-left: 0
		span
			margin-left: 10px
.nav
	box-shadow: 0 1px 5px #E2E6E8
	display: flex
	justify-content: space-between
	background-color: #ffffff
	margin-top: -36px
	margin-bottom: 37px
	padding: 0 22px 0 206px
	@media (max-width: 825px)
		margin-top: 0
		padding-left: 20px
		box-shadow: 0 0 5px #E2E6E8
		margin-bottom: 6px
	nav
		display: flex
		justify-content: space-between
		overflow: scroll
		/* ie 10+ */
		-ms-overflow-style: none
		scrollbar-width: none
		/* фф (свойство больше не работает, других способов тоже нет)*/
		overflow: -moz-scrollbars-none
		/* хром, сафари */
		&::-webkit-scrollbar
			height: 0px  /* ширина scrollbar'a */
    	background: transparent  /* опционально */
		a
			display: block
			text-decoration: none
			text-transform: uppercase
			margin-right: -1px
			font-size: 15px
			color: #3f454a
			padding: 19px 14px
			&.active
				border-bottom: 2px solid #007ee5
			&:hover
				border-bottom: 2px solid #007ee5
	&--social-reviews-follower
		display: flex
		align-items: center
		font-size: 13px
		position: relative
		cursor: pointer
		z-index: 1000
		@media (max-width: 825px)
			display: none
		svg
			margin-right: 17px
			height: 25px
			width: 25px
			fill: #D0DCE7
		span
			margin-left: 6px
			color: #727e88
		.popup
			position: absolute
			background-color: #fff
			padding: 10px 20px
			border-radius: 7px
			top: -45px
			right: 0
			border: 1px solid lightgrey
			display: none
		.show
			display: block

p.phone
	@media (max-width: 825px)
		display: none
p.name
	@media (max-width: 825px)
		display: block
		text-align: center
.nav--social-reviews-follower-mobile
	display: none
	@media (max-width: 825px)
		display: flex
		margin-bottom: 20px
	svg
		margin-right: 8px
.main
	margin-bottom: 263px
	.container
		background-color: #fff
		padding: 39px 40px
		min-height: 616px
		box-shadow: 0 1px 5px #E2E6E8
		@media (max-width: 825px)
			min-height: 0
			padding: 20px 30px 20px 20px
	&--header
		display: flex
		justify-content: space-between
	&--info-wrapper
		display: flex
		flex-direction: column
		align-items: flex-start
	svg
		height: 20px
		width: 20px
		fill: #a8b8c4
		margin-right: 10px
		path
			//transition: all 0.3s
			fill: #a8b8c4
	h2
		font-weight: normal
		margin-bottom: 27px
		@media (max-width: 825px)
			font-size: 20px
			color: #727e88
			margin-bottom: 17px
	&--info-item
		display: inline-flex
		align-items: center
		margin-bottom: 1px
		font-size: 14px
		background-color: #f5f8f8
		padding-left: 5px
		color: #3f454a
		position: relative
		@media (max-width: 500px)
			background-color: #ffffff
			margin-bottom: 17px
		a
			text-decoration: none
			color: #3f454a
	.name
		font-size: 16px
		@media (max-width: 500px)
			margin-bottom: 22px
	&--btn-edit
		position: relative
		margin-left: 14px
		background-color: #ecf1f5
		height: 37px
		width: 43px
		display: flex
		justify-content: center
		align-items: center
		cursor: pointer
		@media (max-width: 500px)
			display: none
		&:hover
			background-color: #007ee5
			svg
				fill: #ffffff
				path
					fill: #ffffff
		svg
			margin-right: 0
	&--btn-edit--mobile
		display: none
		svg
			width: 16px
			height: 14px
			margin-right: 0
		@media (max-width: 500px)
			display: flex
			margin-right: 15px
			position: relative
			background-color: #ecf1f5
			height: 25px
			width: 30px
			justify-content: center
			align-items: center
			cursor: pointer


.hover-block
	position: absolute
	padding: 20px
	background-color: #fff
	box-shadow: 0 0 25px #bdc4c9
	border-radius: 3px
	left: 0
	top: -15px
	z-index: 10
	display: none
	&:after
		content: ''
		position: absolute
		left: -20px
		bottom: 85px
		border: 10px solid transparent
		border-right: 10px solid #ffffff
	&--btns
		display: flex
	.btn
		border-radius: 3px
		border: 1px solid #007ee5
		background-color: #ffffff
		padding: 6px 21px
		color: #007ee5
		font-size: 12px
		text-transform: uppercase
		font-weight: 700
		text-decoration: none
		display: inline-block
		width: 98px
		height: 31px
		&--save
			margin-right: 20px
			background-color: #007ee5
			color: #ffffff
	// focus effect
	:focus
		outline: none
	.input-effect
		margin: 10px 0 20px
		position: relative
		padding: 0px
	input[type="text"]
		font-size: 16px
		color: #3f454a
		width: 100%
		box-sizing: border-box
		letter-spacing: 1px
	.effect-16
		border: 0
		padding: 4px 0
		border-bottom: 1px solid #ccc
		background-color: transparent
		~ .focus-border
			position: absolute
			bottom: 0
			left: 0
			width: 0
			height: 2px
			background-color: #3399FF
			transition: 0.4s
		&:focus ~ .focus-border
			width: 100%
			transition: 0.4s
	.has-content.effect-16 ~ .focus-border
		width: 100%
		transition: 0.4s
	.effect-16
		~ label
			position: absolute
			left: 0
			width: 100%
			top: 5px
			color: #aaa
			transition: 0.3s
			z-index: -1
			letter-spacing: 0.5px
			font-size: 14px
			font-weight: normal
		&:focus ~ label
			top: -16px
			font-size: 12px
			transition: 0.3s
	.has-content.effect-16 ~ label
		top: -16px
		font-size: 12px
		color: #3399FF
		transition: 0.3s
	&--mobile
		display: block
		position: relative
		box-shadow: none
.hover-block.active
	display: block

#about,
#settings,
#option
	display: none
#about.active,
#settings.active,
#option.active
	display: block

#aboutEdit
	display: none
	position: relative
	.blocks-wrapper
		margin-top: 20px
		label
			text-transform: uppercase
			color: #a6b0b7
			font-size: 12px
		input
			color: #3f454a
	.hover-block:first-of-type
		padding: 20px 0 10px
	.hover-block
		padding: 10px 0 10px
		.effect-16
			padding: 8px 0
		.input-effect
			margin: 10px 0 0px
	.btns
		button
			font-size: 14px
			text-transform: uppercase
			color: #007ee5
			background-color: #fff
		.cancel
			margin-right: 30px
#aboutEdit.active
	display: block
