//BEGIN header
header.header
	.container
		.header--btn-wrapper
			a(href="#").header--btn log out
		.header--input-file
			input(type="file")
			a(href="#") <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><circle cx="256" cy="280" r="63"></circle><path d="M440 96h-88l-32-32H192l-32 32H72c-22.092 0-40 17.908-40 40v272c0 22.092 17.908 40 40 40h368c22.092 0 40-17.908 40-40V136c0-22.092-17.908-40-40-40zM256 392c-61.855 0-112-50.145-112-112s50.145-112 112-112 112 50.145 112 112-50.145 112-112 112z"></path></svg>Upload Cover Image
		.header--main-content
			.header--left-part
				.header--image
				.header--profile-info
					p.name(data-item='name') #[span Jessica Parker]
					p.phone.phone-mobile(data-item='phone') <svg width="82" height="82" viewBox="0 0 82 82" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M78.652 56.381L60.89 51.403L60.788 51.506L54.149 58.143L54.057 58.256C51.307 61.007 44.498 55.821 35.338 46.66C26.18 37.5 20.994 30.692 23.744 27.941L23.857 27.849L30.495 21.211L30.598 21.108L25.619 3.34701C21.955 -0.316992 16.025 -0.317992 12.361 3.34701L12.486 3.22101L2.418 13.292C-3.079 18.788 3.984 41.375 22.305 59.696C40.625 78.017 63.213 85.08 68.709 79.584L78.656 69.636C82.316 65.971 82.314 60.043 78.652 56.381ZM75.338 66.326L65.395 76.269C61.731 79.933 42.11 72.87 25.62 56.38C9.132 39.89 2.068 20.268 5.732 16.604L15.675 6.66101L15.635 6.70201C17.467 4.87001 20.432 4.86901 22.265 6.70201L25.619 19.436L18.777 26.278C15.108 29.947 21.033 38.981 32.025 49.974C43.017 60.967 52.051 66.892 55.721 63.222L62.563 56.38L75.297 59.735C77.13 61.567 77.129 64.533 75.297 66.365L75.338 66.326Z" fill="black"/></svg> #[span (949) 325 - 68594]
					p.address(data-item='address') <svg width="91" height="132" viewBox="0 0 91 132" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M46 0C59 0 70 5 79 13C115 48 66 100 46 132C26 100 -23 48 13 13C21 5 33 0 46 0ZM73 19C66 12 56 8 46 8C35 8 25 12 18 19C-10 47 29 91 46 117C63 91 102 47 73 19Z" fill="black"/><path d="M46 23C58 23 68 32 68 44C68 57 58 66 46 66C34 66 24 57 24 44C24 32 34 23 46 23ZM46 31C38 31 32 37 32 44C32 52 38 58 46 58C53 58 59 52 59 44C59 37 53 31 46 31Z" fill="black"/></svg> #[span Newport Beach, CA]
					.header--social.header--social-mobile
						.header--social-reviews
							.header--social-reviews-stars
								.wrapper
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M256 372.686L380.83 448l-33.021-142.066L458 210.409l-145.267-12.475L256 64l-56.743 133.934L54 210.409l110.192 95.525L131.161 448z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M256 372.686L380.83 448l-33.021-142.066L458 210.409l-145.267-12.475L256 64l-56.743 133.934L54 210.409l110.192 95.525L131.161 448z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M256 372.686L380.83 448l-33.021-142.066L458 210.409l-145.267-12.475L256 64l-56.743 133.934L54 210.409l110.192 95.525L131.161 448z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M256 372.686L380.83 448l-33.021-142.066L458 210.409l-145.267-12.475L256 64l-56.743 133.934L54 210.409l110.192 95.525L131.161 448z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M458 210.409l-145.267-12.476L256 64l-56.743 133.934L54 210.409l110.192 95.524L131.161 448 256 372.686 380.83 448l-33.021-142.066L458 210.409zM272.531 345.286L256 335.312l-16.53 9.973-59.988 36.191 15.879-68.296 4.369-18.79-14.577-12.637-52.994-45.939 69.836-5.998 19.206-1.65 7.521-17.75 27.276-64.381 27.27 64.379 7.52 17.751 19.208 1.65 69.846 5.998-52.993 45.939-14.576 12.636 4.367 18.788 15.875 68.299-59.984-36.189z"></path></svg>
								.wrapper
									.header--social-reviews-text 6 #[span Reviews]
									.header--social-reviews-follower
					.nav--social-reviews-follower.nav--social-reviews-follower-mobile <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M256 48C141.125 48 48 141.125 48 256s93.125 208 208 208 208-93.125 208-208S370.875 48 256 48zm107 229h-86v86h-42v-86h-86v-42h86v-86h42v86h86v42z"></path></svg> 15 #[span Followers]
					p.phone(data-item='phone') <svg width="82" height="82" viewBox="0 0 82 82" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M78.652 56.381L60.89 51.403L60.788 51.506L54.149 58.143L54.057 58.256C51.307 61.007 44.498 55.821 35.338 46.66C26.18 37.5 20.994 30.692 23.744 27.941L23.857 27.849L30.495 21.211L30.598 21.108L25.619 3.34701C21.955 -0.316992 16.025 -0.317992 12.361 3.34701L12.486 3.22101L2.418 13.292C-3.079 18.788 3.984 41.375 22.305 59.696C40.625 78.017 63.213 85.08 68.709 79.584L78.656 69.636C82.316 65.971 82.314 60.043 78.652 56.381ZM75.338 66.326L65.395 76.269C61.731 79.933 42.11 72.87 25.62 56.38C9.132 39.89 2.068 20.268 5.732 16.604L15.675 6.66101L15.635 6.70201C17.467 4.87001 20.432 4.86901 22.265 6.70201L25.619 19.436L18.777 26.278C15.108 29.947 21.033 38.981 32.025 49.974C43.017 60.967 52.051 66.892 55.721 63.222L62.563 56.38L75.297 59.735C77.13 61.567 77.129 64.533 75.297 66.365L75.338 66.326Z" fill="black"/></svg> #[span (949) 325 - 68594]
			.header--right-part
				.header--social
					.header--social-reviews
						.header--social-reviews-stars
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M256 372.686L380.83 448l-33.021-142.066L458 210.409l-145.267-12.475L256 64l-56.743 133.934L54 210.409l110.192 95.525L131.161 448z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M256 372.686L380.83 448l-33.021-142.066L458 210.409l-145.267-12.475L256 64l-56.743 133.934L54 210.409l110.192 95.525L131.161 448z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M256 372.686L380.83 448l-33.021-142.066L458 210.409l-145.267-12.475L256 64l-56.743 133.934L54 210.409l110.192 95.525L131.161 448z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M256 372.686L380.83 448l-33.021-142.066L458 210.409l-145.267-12.475L256 64l-56.743 133.934L54 210.409l110.192 95.525L131.161 448z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M458 210.409l-145.267-12.476L256 64l-56.743 133.934L54 210.409l110.192 95.524L131.161 448 256 372.686 380.83 448l-33.021-142.066L458 210.409zM272.531 345.286L256 335.312l-16.53 9.973-59.988 36.191 15.879-68.296 4.369-18.79-14.577-12.637-52.994-45.939 69.836-5.998 19.206-1.65 7.521-17.75 27.276-64.381 27.27 64.379 7.52 17.751 19.208 1.65 69.846 5.998-52.993 45.939-14.576 12.636 4.367 18.788 15.875 68.299-59.984-36.189z"></path></svg>
							.header--social-reviews-text 6 #[span Reviews]
							.header--social-reviews-follower
.container
	.nav
		nav
			a(href="#" data-block='about').active ABOUT
			a(href="#" data-block='settings') SETTINGS
			a(href="#" data-block='option') OPTION1
			a(href="#" data-block='option') OPTION2
			a(href="#" data-block='option') OPTION3
		.nav--social-reviews-follower <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M256 48C141.125 48 48 141.125 48 256s93.125 208 208 208 208-93.125 208-208S370.875 48 256 48zm107 229h-86v86h-42v-86h-86v-42h86v-86h42v86h86v42z"></path></svg> 15 #[span Followers] <span class='popup'>some text</span>
//END header
