main.main
	.container
		#about.blocks.active
			.main--header
				h2 About
				.main--btn-edit--mobile#mobileEdit <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M64 368v80h80l235.727-235.729-79.999-79.998L64 368zm377.602-217.602c8.531-8.531 8.531-21.334 0-29.865l-50.135-50.135c-8.531-8.531-21.334-8.531-29.865 0l-39.468 39.469 79.999 79.998 39.469-39.467z"></path></svg>
			.main--info-wrapper
				.main--info-item.name(data-item='name') #[span Jessica Parker]
					.main--btn-edit <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M64 368v80h80l235.727-235.729-79.999-79.998L64 368zm377.602-217.602c8.531-8.531 8.531-21.334 0-29.865l-50.135-50.135c-8.531-8.531-21.334-8.531-29.865 0l-39.468 39.469 79.999 79.998 39.469-39.467z"></path></svg>
						.hover-block
							.input-effect
								input.effect-16(type='text' placeholder='')
								label NAME
								span.focus-border
							.hover-block--btns
								button.btn.btn--save save
								button.btn.btn--cancel cancel
				.main--info-item.website(data-item='website') <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M256 48C141.124 48 48 141.125 48 256s93.124 208 208 208c114.875 0 208-93.125 208-208S370.875 48 256 48zm-21.549 384.999c-39.464-4.726-75.978-22.392-104.519-50.932C96.258 348.393 77.714 303.622 77.714 256c0-42.87 15.036-83.424 42.601-115.659.71 8.517 2.463 17.648 2.014 24.175-1.64 23.795-3.988 38.687 9.94 58.762 5.426 7.819 6.759 19.028 9.4 28.078 2.583 8.854 12.902 13.498 20.019 18.953 14.359 11.009 28.096 23.805 43.322 33.494 10.049 6.395 16.326 9.576 13.383 21.839-2.367 9.862-3.028 15.937-8.13 24.723-1.557 2.681 5.877 19.918 8.351 22.392 7.498 7.497 14.938 14.375 23.111 21.125 12.671 10.469-1.231 24.072-7.274 39.117zm147.616-50.932c-25.633 25.633-57.699 42.486-92.556 49.081 4.94-12.216 13.736-23.07 21.895-29.362 7.097-5.476 15.986-16.009 19.693-24.352 3.704-8.332 8.611-15.555 13.577-23.217 7.065-10.899-17.419-27.336-25.353-30.781-17.854-7.751-31.294-18.21-47.161-29.375-11.305-7.954-34.257 4.154-47.02-1.417-17.481-7.633-31.883-20.896-47.078-32.339-15.68-11.809-14.922-25.576-14.922-42.997 12.282.453 29.754-3.399 37.908 6.478 2.573 3.117 11.42 17.042 17.342 12.094 4.838-4.043-3.585-20.249-5.212-24.059-5.005-11.715 11.404-16.284 19.803-24.228 10.96-10.364 34.47-26.618 32.612-34.047s-23.524-28.477-36.249-25.193c-1.907.492-18.697 18.097-21.941 20.859.086-5.746.172-11.491.26-17.237.055-3.628-6.768-7.352-6.451-9.692.8-5.914 17.262-16.647 21.357-21.357-2.869-1.793-12.659-10.202-15.622-8.968-7.174 2.99-15.276 5.05-22.45 8.039 0-2.488-.302-4.825-.662-7.133a176.585 176.585 0 0 1 45.31-13.152l14.084 5.66 9.944 11.801 9.924 10.233 8.675 2.795 13.779-12.995L282 87.929V79.59c27.25 3.958 52.984 14.124 75.522 29.8-4.032.361-8.463.954-13.462 1.59-2.065-1.22-4.714-1.774-6.965-2.623 6.531 14.042 13.343 27.89 20.264 41.746 7.393 14.801 23.793 30.677 26.673 46.301 3.394 18.416 1.039 35.144 2.896 56.811 1.788 20.865 23.524 44.572 23.524 44.572s10.037 3.419 18.384 2.228c-7.781 30.783-23.733 59.014-46.769 82.052z"></path></svg> #[span www.seller.com]
					.main--btn-edit <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M64 368v80h80l235.727-235.729-79.999-79.998L64 368zm377.602-217.602c8.531-8.531 8.531-21.334 0-29.865l-50.135-50.135c-8.531-8.531-21.334-8.531-29.865 0l-39.468 39.469 79.999 79.998 39.469-39.467z"></path></svg>
						.hover-block
							.input-effect
								input.effect-16(type='text' placeholder='')
								label WEBSITE
								span.focus-border
							.hover-block--btns
								button.btn.btn--save save
								button.btn.btn--cancel cancel
				.main--info-item.phone(data-item='phone') <svg width="82" height="82" viewBox="0 0 82 82" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M78.652 56.381L60.89 51.403L60.788 51.506L54.149 58.143L54.057 58.256C51.307 61.007 44.498 55.821 35.338 46.66C26.18 37.5 20.994 30.692 23.744 27.941L23.857 27.849L30.495 21.211L30.598 21.108L25.619 3.34701C21.955 -0.316992 16.025 -0.317992 12.361 3.34701L12.486 3.22101L2.418 13.292C-3.079 18.788 3.984 41.375 22.305 59.696C40.625 78.017 63.213 85.08 68.709 79.584L78.656 69.636C82.316 65.971 82.314 60.043 78.652 56.381ZM75.338 66.326L65.395 76.269C61.731 79.933 42.11 72.87 25.62 56.38C9.132 39.89 2.068 20.268 5.732 16.604L15.675 6.66101L15.635 6.70201C17.467 4.87001 20.432 4.86901 22.265 6.70201L25.619 19.436L18.777 26.278C15.108 29.947 21.033 38.981 32.025 49.974C43.017 60.967 52.051 66.892 55.721 63.222L62.563 56.38L75.297 59.735C77.13 61.567 77.129 64.533 75.297 66.365L75.338 66.326Z" fill="black"/></svg> #[span (949) 325 - 68594]
					.main--btn-edit <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M64 368v80h80l235.727-235.729-79.999-79.998L64 368zm377.602-217.602c8.531-8.531 8.531-21.334 0-29.865l-50.135-50.135c-8.531-8.531-21.334-8.531-29.865 0l-39.468 39.469 79.999 79.998 39.469-39.467z"></path></svg>
						.hover-block
							.input-effect
								input.effect-16(type='text' placeholder='' value='aa')
								label TELEPHONE
								span.focus-border
							.hover-block--btns
								button.btn.btn--save save
								button.btn.btn--cancel cancel
				.main--info-item.address(data-item='address') <svg width="80" height="64" viewBox="0 0 80 64" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M40.0539 0.000194276C40.4735 0.00919428 40.865 0.148224 41.2414 0.406444L79.2414 30.4064C80.1157 31.1086 80.2398 32.4043 79.5852 33.2503C78.9401 34.0841 77.5677 34.2175 76.7414 33.5628L39.9914 4.56269L3.24136 33.5628C2.41506 34.2175 1.08046 34.079 0.428856 33.2503C-0.217945 32.4278 -0.148345 31.0614 0.741356 30.4064L14.9914 19.1564V2.00019C14.9914 1.46978 15.2021 0.961132 15.5772 0.586071C15.9523 0.211009 16.4609 0.00024731 16.9914 0.000194276H24.9914C25.5218 0.00024731 26.0305 0.211009 26.4055 0.586071C26.7806 0.961132 26.9913 1.46978 26.9914 2.00019V9.68769L38.7414 0.406444C39.1865 0.113214 39.6343 -0.00855572 40.0539 0.000194276ZM22.9914 4.00019H18.9914V16.0002L22.9914 12.8439V4.00019ZM64.9914 26.9064L68.9914 30.0628V62.0003C68.9913 62.5307 68.7806 63.0394 68.4055 63.4144C68.0304 63.7895 67.5218 64.0002 66.9914 64.0003H49.9914C49.4609 64.0002 48.9523 63.7895 48.5772 63.4144C48.2021 63.0394 47.9914 62.5307 47.9914 62.0003V52.0003C47.9914 47.5337 44.458 44.0003 39.9914 44.0003C35.5248 44.0003 31.9914 47.5337 31.9914 52.0003V62.0003C31.9913 62.5307 31.7806 63.0394 31.4055 63.4144C31.0305 63.7895 30.5218 64.0002 29.9914 64.0003H12.9914C12.4609 64.0002 11.9523 63.7895 11.5772 63.4144C11.2021 63.0394 10.9914 62.5307 10.9914 62.0003V30.0628L14.9914 26.9064V60.0003H27.9914V52.0003C27.9914 45.3869 33.378 40.0003 39.9914 40.0003C46.6048 40.0003 51.9914 45.3869 51.9914 52.0003V60.0003H64.9914V26.9064Z" fill="black"/></svg> #[span Newport Beach, CA]
					.main--btn-edit <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M64 368v80h80l235.727-235.729-79.999-79.998L64 368zm377.602-217.602c8.531-8.531 8.531-21.334 0-29.865l-50.135-50.135c-8.531-8.531-21.334-8.531-29.865 0l-39.468 39.469 79.999 79.998 39.469-39.467z"></path></svg>
						.hover-block
							.input-effect
								input.effect-16(type='text' placeholder='')
								label CITY, STATE & ZIP
								span.focus-border
							.hover-block--btns
								button.btn.btn--save save
								button.btn.btn--cancel cancel
		#aboutEdit.blocks
			.main--header
				h2 About
				.btns
					button.cancel cancel
					button.save save
			.blocks-wrapper
				.hover-block.active.hover-block--mobile
					.input-effect
						input.effect-16(type='text' placeholder='' data-mobile='first').first
						label first name
						span.focus-border
				.hover-block.active.hover-block--mobile
					.input-effect
						input.effect-16(type='text' placeholder='' data-mobile='last').last
						label last name
						span.focus-border
				.hover-block.active.hover-block--mobile
					.input-effect
						input.effect-16(type='text' placeholder='' data-mobile='website')
						label website
						span.focus-border
				.hover-block.active.hover-block--mobile
					.input-effect
						input.effect-16(type='text' placeholder='' data-mobile='phone')
						label phone number
						span.focus-border
				.hover-block.active.hover-block--mobile
					.input-effect
						input.effect-16(type='text' placeholder='' data-mobile='address')
						label CITY, STATE & ZIP
						span.focus-border
		#settings.blocks
			h2 Settings
		#option.blocks
			h2 Options
