include ../mixins/all
doctype html
html
	head
		include _head

	body(class=bodyClass)
		//BEGIN out
		.out(class=outClass)
			block header
				include ../partials/_header
			block content

		//END out

		//LOAD SCRIPTS
		block scripts
			script(type="text/javascript" src="js/app.js")
